{% extends "layout.html" %}

{% block title %}Add Product{% endblock %}

{% block content %}
<div class="flex justify-center items-center">
    <form action="#" method="post" enctype="multipart/form-data" class="container mx-auto flex flex-col justify-center items-start space-y-4">
        <div>
            <input type="file" name="image-upload" id="image-upload">
        </div>
        <div class="flex flex-col gap-3">
    
            <div>
                <label for="title">title</label>
                <input class="border border-black w-full h-8 rounded-md" type="text" name="title">
            </div>
    
            <div>
                <label for="price">price</label>
                <input class="border border-black w-full h-8 rounded-md" type="number" name="price">
            </div>
    
            <div>
                <label for="describtion">description</label>
                <input class="border border-black w-full h-8 rounded-md" type="text" name="description">        
            </div>
    
        </div>
    
        <button type="submit" class="bg-gray-800 border border-primary text-white px-8 rounded-md hover:bg-gray-700 transition flex items-center py-4">Add Product</button>
    </form>

</div>



{% endblock %}