{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- product -->
    <div class="container pb-16">
        <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">products</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">

            {% for product in products %}
            <div class="bg-white shadow rounded overflow-hidden group">
                <div class="relative">
                    <img src="{{ url_for('static', filename='uploads/' + product[1]) }}" alt="product 1" class="w-full">
                </div>
                <div class="pt-4 pb-3 px-4">
                    <a href="#">
                        <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">{{ product[2] }}</h4>
                    </a>
                    <div class="flex items-baseline mb-1 space-x-2">
                        <p class="text-xl text-primary font-semibold">{{ product[3] }}$</p>
                    </div>
                </div>
                <form action="{{ url_for('wishlist') }}" method="POST">
                    <input type="hidden" name="product_id" value="{{ product[0] }}">
                    <button type="submit" class="block w-full py-1 text-center text-black bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">
                        Add to cart
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- ./product -->
{% endblock %}