{% extends "layout.html" %}

{% block title %}Product{% endblock %}

{% block content %}

    <!-- product-detail -->
    <div class="container flex flex-col gap-6">
        <div>
            <img src="../assets/images/products/product1.jpg" alt="product" class="w-full">
        </div>

        <div>
            <h2 class="text-3xl font-medium uppercase mb-2">Italian L Shape Sofa</h2>

            <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
                <p class="text-xl text-primary font-semibold">$45.00</p>
                <p class="text-base text-gray-400 line-through">$55.00</p>
            </div>

            <p class="mt-4 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eius eum
                reprehenderit dolore vel mollitia optio consequatur hic asperiores inventore suscipit, velit
                consequuntur, voluptate doloremque iure necessitatibus adipisci magnam porro.</p>


            
        </div>
    </div>
    <!-- ./product-detail -->
{% endblock %}