{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

    <!-- wrapper -->
    <div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">

        <!-- sidebar -->
        <div class="col-span-3">
            <div class="px-4 py-3 shadow flex items-center gap-4">
                <div class="flex-shrink-0">
                    <img src="../assets/images/avatar.png" alt="profile"
                        class="rounded-full w-14 h-14 border border-gray-200 p-1 object-cover">
                </div>
                <div class="flex-grow">
                    <p class="text-gray-600">Hello,</p>
                    <h4 class="text-gray-800 font-medium">{{user[1]}}</h4>
                </div>
            </div>

            
        </div>
        <!-- ./sidebar -->

        <!-- info -->
        <div class="col-span-9 shadow rounded px-6 pt-5 pb-7">
            <h4 class="text-lg font-medium capitalize mb-4">
                Profile information
            </h4>
            
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label for="profile-pic">Profile Picture</label>
                    <!-- <input type="text" name="first" id="first" class="input-box"> -->
                    <div ><img src = "{{ url_for('static', filename='uploads/' + user[3]) }}" alt = "profile picture" class = "rounded-full w-14 h-14 border border-gray-200 p-1 object-cover d-block"></div>
                </div>
                <div>
                    <label for="first">Username</label>
                    <!-- <input type="text" name="first" id="first" class="input-box"> -->
                    <div style="display:inline-block">{{user[1]}}</div>
                </div>
            </div>
        </div>
        <!-- ./info -->

    </div>
    <!-- ./wrapper -->

{% endblock %}